.buttons {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 30px;
	margin-left: 10px;
}

button {
	padding: 10px;
	margin-right: 20px;
	border-radius: 5px;
	color: white;
}

.clickBtn {
	border: 2px solid #180cf5;
	background-color: #231ca6;
}

.clickBtn:hover {
	background-color: #180cf5;
	border-color: #231ca6;
}

.resetBtn {
	border: 2px solid #c45858;
	background-color: #eb0e0e;
}

.resetBtn:hover {
	background-color: #c45858;
	border-color: #eb0e0e;
}
